.cart-block {
  display: flex;
  align-items: center;
  position: relative;
}

.cart-price {
  margin-left: 15px;
  font-weight: 600;
  font-size: 17px;
}

.cart-icon {
  cursor: pointer;
  position: relative;
}
