.product-page__content {
  display: flex;
}

.product-page__left {
  width: 70%;
}

.product-page__img {
  width: 400px;
}

@media (max-width: 480px) {
  .product-page__img {
    width: 150px;
  }
}

.product-page__right {
  width: 30%;
}

.column {
  margin-top: 10px;
  list-style-type: none;
  line-height: 30px;
}

.product-page__price__buy {
  display: flex;
  justify-content: flex-end;

  font-size: 25px;
}

.product-page__day {
  margin-right: 10px;
  margin-top: -1px;
}
