.cart-menu {
  position: absolute;
  top: 30px;
  right: 7px;
  left: -370px;
  background-color: #ebe8e8f5;
  width: 490;
  padding: 5px 20px;
  z-index: 2;
  border-radius: 15px;
}

@media (max-width: 900px) {
  .cart-menu {
    position: absolute;
    top: 30px;
    right: -350px;
    left: 10px;
    background-color: #ebe8e8f5;
    padding: 5px 20px;
    z-index: 2;
    border-radius: 15px;
  }
}
@media (max-width: 660px) {
  .cart-menu {
    position: absolute;
    top: 30px;
    right: -350px;
    left: 0px;
    background-color: #ebe8e8f5;
    width: 400;
    padding: 5px 20px;
    z-index: 2;
    border-radius: 15px;
  }
}
@media (max-width: 600px) {
  .cart-menu {
    position: absolute;
    top: 30px;
    left: -330px;
    right: -30px;
    background-color: #ebe8e8f5;
    width: 400;
    padding: 5px 20px;
    z-index: 2;
    border-radius: 15px;
  }
}
@media (max-width: 490px) {
  .cart-menu {
    position: absolute;
    top: 30px;
    left: -280px;
    right: -20px;
    background-color: #ebe8e8f5;
    width: 300;
    padding: 5px 5px;
    z-index: 2;
    border-radius: 15px;
  }
}
@media (max-width: 420px) {
  .cart-menu {
    position: absolute;
    top: 30px;
    left: -50px;
    right: -260px;
    background-color: #ebe8e8f5;
    width: 300;
    padding: 5px 5px;
    z-index: 2;
    border-radius: 15px;
  }
  .cart-menu__total-price {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    padding: 0px 50px;
  }
}

.cart-menu__arranged {
  margin-top: 20px;
  padding: 20px 0;
  border-top: 1px solid #838383f5;
}

.cart-menu__total-price {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
