.header {
  height: 60px;
  margin-top: 15px;
  display: grid;
  grid-template-columns: 3fr 10fr 4fr repeat(3, 1fr) 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

@media (max-width: 900px) {
  .header {
    display: grid;
    grid-template-columns: 3fr 5fr 2fr 1fr 1fr 1fr;
    grid-template-rows: 2fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 120px;
  }
}

@media (max-width: 600px) {
  .header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 10px;
  }
  .location {
    margin-top: -40px;
  }
}

@media (max-width: 420px) {
  .header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 40px;
  }
  .location {
    margin-top: -40px;
  }
}

.wrapper {
  margin-top: -40px;
}

.cart {
  justify-content: flex-end;
}

.number {
  margin-top: 8px;
}

.instagram {
  display: inline-block;
  width: 28px;
  height: 28px;
  text-align: center;
  padding: 3px;
  border-radius: 5px;
  color: #fff;
  font-size: 220px;
  line-height: 250px;
  vertical-align: middle;
  background: #d6249f;
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
}

.icon-telegram {
  color: #54a9eb;
  width: 28px;
  height: 28px;

  padding: 3px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(125, 124, 124, 0.5);
}

.icon-whatsApp {
  color: white;
  width: 28px;
  height: 28px;
  padding: 3px;
  border-radius: 5px;
  background-color: #2ecc71;
  box-shadow: 0 0 10px rgba(125, 124, 124, 0.5);
}
