.rent-items-price {
  padding-left: 15px;
}

.rent-items__button {
  border: 1px #de682d solid;
  padding: 5px;
  border-radius: 40px;
  margin-left: 10px;
  background-color: #f0f0f0;
}

.md {
  margin-bottom: -8px;
}

.rent-items__count {
  border: 1px solid white;
  color: #de682d;
  border-radius: 40px;
  background-color: white;
  padding: 1px 5px;
}
